/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/front.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
@-webkit-keyframes spinner-rotate {
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}@keyframes spinner-rotate {
  to {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@-webkit-keyframes spinner-rotate-02 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-rotate-02 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#cdc-cookie button.cdc-cookie__btn {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 9px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: var(--size-main-btn);
  height: var(--size-main-btn);
  background: var(--color-bg);
  border-radius: var(--border-radius-main-btn);
}

#cdc-cookie button.cdc-cookie__btn:active, #cdc-cookie button.cdc-cookie__btn:focus, #cdc-cookie button.cdc-cookie__btn:hover {
  border: none;
  outline: none;
  background: var(--color-bg);
}

#cdc-cookie button.cdc-cookie__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#cdc-cookie button.cdc-cookie__btn.open .cdc-cookie__btn__open {
  display: none;
}

#cdc-cookie button.cdc-cookie__btn.open .cdc-cookie__btn__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cdc-cookie .cdc-cookie__btn__open {
  display: block;
}

#cdc-cookie .cdc-cookie__btn__open img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 0;
}

#cdc-cookie .cdc-cookie__btn__close {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cdc-cookie .cdc-cookie__btn__close svg {
  display: block;
  width: 50%;
  height: auto;
  fill: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup {
  position: absolute;
  bottom: 100%;
  width: 85vw;
  max-width: 422px;
  -webkit-box-shadow: 0px 0px 27px -10px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 27px -10px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  margin-bottom: 15px;
  background-color: var(--color-bg);
  border-radius: var(--modal-border-radius);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#cdc-cookie .cdc-cookie__popup.bottom_right {
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#cdc-cookie .cdc-cookie__popup.bottom_left {
  left: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#cdc-cookie .cdc-cookie__popup.closed {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#cdc-cookie .cdc-cookie__popup__top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

#cdc-cookie .cdc-cookie__popup__top__svg {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 90px;
  z-index: 1;
}

#cdc-cookie .cdc-cookie__popup__top__svg svg {
  display: block;
  height: 100%;
  width: auto;
  opacity: 0.55;
  fill: var(--color-shape);
}

#cdc-cookie .cdc-cookie__popup__top__img {
  position: relative;
  z-index: 2;
  margin: 7px;
}

#cdc-cookie .cdc-cookie__popup__top__img img {
  display: block;
  width: 88px;
  height: auto;
}

#cdc-cookie .cdc-cookie__popup__steps {
  position: relative;
  z-index: 2;
}

#cdc-cookie .cdc-cookie__popup__steps__step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#cdc-cookie .cdc-cookie__popup__steps__step.selected {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body {
  padding: 30px 30px 0;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__before-title {
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__title {
  font-size: 34px;
  font-weight: 800;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 150%;
  color: var(--color-text);
  margin-top: -11px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__description {
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 9px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__summary {
  border: 1px solid var(--color-border);
  border-radius: 6px;
  padding: 13px;
  margin-bottom: 9px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__summary__title {
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__summary__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-action);
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__summary__content__item:hover {
  text-decoration: underline;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__summary__content__item::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--color-secondary-action);
  border-radius: 50%;
  margin-right: 6px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__important-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 9px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__important-links__item span {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-action);
  text-decoration: none;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__important-links__item span:hover {
  text-decoration: underline;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  margin-bottom: 9px;
  margin-top: 22px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies::-webkit-scrollbar {
  width: 4px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies::-webkit-scrollbar-button {
  height: 0;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies::-webkit-scrollbar-thumb {
  background-color: var(--color-action);
  border-radius: 10px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies::-webkit-scrollbar-track {
  background-color: var(--color-border);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item {
  border-bottom: 1px solid var(--color-border);
  padding: 8px 12px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item:last-child {
  border-bottom: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__top__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__top__title {
  font-size: 12px;
  font-weight: 500;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__bottom__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  font-weight: 400;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--color-bg);
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--color-secondary-action);
  border-radius: 50%;
  text-decoration: none;
  margin-right: 6px;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__bottom__icon:hover {
  background-color: var(--color-action);
  color: var(--color-bg);
  text-decoration: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__cookies__item__bottom__description {
  font-family: Arial, 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles {
  margin-top: 22px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__text {
  font-family: Arial, 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox {
  position: relative;
  display: block;
  width: 55px;
  min-width: 55px;
  height: 24px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__field {
  opacity: 0;
  width: 0;
  height: 0;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider {
  background-color: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__check {
  display: block;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__close {
  display: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--color-secondary-action);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27px;
  width: 27px;
  left: -1px;
  top: -1px;
  border-radius: 50%;
  background-color: var(--color-bg);
  -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle svg {
  display: block;
  height: auto;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__check {
  display: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__check svg {
  width: 16px;
  fill: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__close {
  display: block;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__all__checkbox__slider__circle__close svg {
  width: 10px;
  fill: var(--color-secondary-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  margin-bottom: 9px;
  margin-top: 16px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items::-webkit-scrollbar {
  width: 4px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items::-webkit-scrollbar-button {
  height: 0;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items::-webkit-scrollbar-thumb {
  background-color: var(--color-action);
  border-radius: 10px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items::-webkit-scrollbar-track {
  background-color: var(--color-border);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid var(--color-border);
  padding: 8px 12px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item:last-child {
  border-bottom: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__top__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__top__title {
  font-size: 12px;
  font-weight: 500;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__bottom__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 8px;
  font-weight: 400;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--color-bg);
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--color-secondary-action);
  border-radius: 50%;
  text-decoration: none;
  margin-right: 6px;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__bottom__icon:hover {
  background-color: var(--color-action);
  color: var(--color-bg);
  text-decoration: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__left__bottom__description {
  font-family: Arial, 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox {
  position: relative;
  display: block;
  width: 39px;
  min-width: 39px;
  height: 17px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__field {
  opacity: 0;
  width: 0;
  height: 0;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider {
  background-color: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__check {
  display: block;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__field:checked + .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__close {
  display: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--color-secondary-action);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 19px;
  width: 19px;
  left: -1px;
  top: -1px;
  border-radius: 50%;
  background-color: var(--color-bg);
  -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  -webkit-transition: .4s;
  transition: .4s;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle svg {
  display: block;
  height: auto;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__check {
  display: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__check svg {
  width: 12px;
  fill: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__close {
  display: block;
}

#cdc-cookie .cdc-cookie__popup__steps__step__body__toggles__items__item__right__checkbox__slider__circle__close svg {
  width: 6px;
  fill: var(--color-secondary-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__header {
  position: relative;
  font-size: 8px;
  font-weight: 700;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-text);
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  padding: 2px 18px;
  cursor: help;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__header__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-action);
  opacity: 0.1;
  z-index: -1;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__header span {
  color: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__body {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-action);
  text-align: center;
  overflow: hidden;
  padding: 16px 52px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 1px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__body__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-action);
  opacity: 0.1;
  z-index: -1;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered__body a {
  color: var(--color-action);
  text-decoration: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered.close .cdc-cookie__popup__steps__step__footer__powered__header {
  margin-bottom: 8px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered.close .cdc-cookie__popup__steps__step__footer__powered__header__bg {
  background-color: transparent !important;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__powered.close .cdc-cookie__popup__steps__step__footer__powered__body {
  height: 0 !important;
  padding: 0 52px;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: var(--color-bg);
  width: 100%;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns button.cdc-cookie__popup__steps__step__footer__btns__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, 'Lato', sans-serif;
  line-height: 160%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-text);
  border: none;
  border-radius: 0;
  background: var(--color-bg);
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 0;
  cursor: pointer;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns button.cdc-cookie__popup__steps__step__footer__btns__btn:hover {
  background: var(--color-bg);
  color: var(--color-action);
  border-color: var(--color-border);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns button.cdc-cookie__popup__steps__step__footer__btns__btn:focus {
  border-color: var(--color-border);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns button.cdc-cookie__popup__steps__step__footer__btns__btn.main {
  color: var(--color-action);
}

#cdc-cookie .cdc-cookie__popup__steps__step__footer__btns button.cdc-cookie__popup__steps__step__footer__btns__btn.main:hover {
  background: var(--color-action);
  color: var(--color-bg);
}

.cdc-cookie {
  display: none;
  position: fixed;
  z-index: 9999;
  margin: var(--margin-horizontal-main-btn) var(--margin-vertical-main-btn);
}

.cdc-cookie.show {
  display: block;
}

.cdc-cookie.bottom_right {
  right: 0;
  bottom: 0;
}

.cdc-cookie.bottom_left {
  left: 0;
  bottom: 0;
}

